<mat-card class="card-container">
   
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="FTP Server Setup">
                <mat-card-content>
                    <app-dso-dynamic-table 
                    [resultSet]="ftpServerData | async"
                    [config]="ftpServerConfig | async"
                    [title]="'FTP Server Setup'"
                    [enableFilter]="'true'"
                    (postData)="submitFtpDetails($event)"
                    (putData)="updateFtpDetails($event)"
                    (deleteData)="deleteFtpDetails($event)">
                   </app-dso-dynamic-table>
            </mat-card-content>
            </mat-tab>
            <mat-tab label="Cloud Instance Setup">
                <mat-card-content>
                    <app-dso-dynamic-table 
                    [resultSet]="cloudServerData | async"
                    [config]="cloudServerConfig | async"
                    [title]="'Cloud Server Setup'"
                    [enableFilter]="'true'"
                    (postData)="submitCloudDetails($event)"
                    (putData)="updateCloudDetails($event)"
                    (deleteData)="deleteCloudDetails($event)">
                   </app-dso-dynamic-table>
            </mat-card-content>
            </mat-tab>
        </mat-tab-group>

</mat-card>
