<mat-card class="card-container">
   
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="FTP Server Setup">
                <mat-card-content>
                    <app-dso-dynamic-table 
                    [resultSet]="ftpServerData | async"
                    [config]="ftpServerConfig | async"
                    [title]="'FTP Server Setup'"
                    [enableFilter]="'true'"
                    (postData)="submitFtpDetails($event)"
                    (putData)="updateFtpDetails($event)"
                    (deleteData)="deleteFtpDetails($event)"
                    (pageChangeEvent)="ftpServerPageChanged($event)">
                   </app-dso-dynamic-table>
            </mat-card-content>
            </mat-tab>
            <mat-tab label="Cloud Instance Setup">
                <mat-card-content>
                    <app-dso-dynamic-table 
                    [resultSet]="cloudServerData | async"
                    [config]="cloudServerConfig | async"
                    [title]="'Cloud Server Setup'"
                    [enableFilter]="'true'"
                    (postData)="submitCloudDetails($event)"
                    (putData)="updateCloudDetails($event)"
                    (deleteData)="deleteCloudDetails($event)"
                    (pageChangeEvent)="cloudServerPageChanged($event)">
                   </app-dso-dynamic-table>
            </mat-card-content>
            </mat-tab>
            <mat-tab label="UNSPSC Setup">
                <mat-spinner *ngIf="showSpinner" diameter="20"></mat-spinner>
                <div style="margin-top: 20px;" > 
                    <button mat-raised-button (click) ="openUploadDialog()" >Upload File</button>
                  </div>
                <mat-tab-group mat-align-tabs="start" (selectedTabChange)="tabClick($event)">
                    <mat-tab label="Segment">
                <mat-card-content>
                    <app-dso-dynamic-table 
                    (uploadData)="uploadUnspscDetails($event)"
                    [resultSet]="unspscSegmentData | async"
                    [config]="unsPscSgmentConfig | async"
                    [title]="'Segment'"
                    [enableFilter]="'true'"
                    (postData)="submitUnspscSegment($event)"
                    (putData)="updateUnspscSegment($event)"
                    (deleteData)="deleteUnspscSegment($event)"
                    (pageChangeEvent)="segmentPageChanged($event)">
                   </app-dso-dynamic-table>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Family">
                <mat-card-content>
                    <app-dso-dynamic-table 
                    [resultSet]="unspscFamilyData | async"
                    [config]="unsPscFamilyConfig | async"
                    [title]="'Family'"
                    [enableFilter]="'true'"
                    (postData)="submitUnspscFamily($event)"
                    (putData)="updateUnspscFamily($event)"
                    (deleteData)="deleteUnspscFamily($event)"
                    (pageChangeEvent)="familyPageChanged($event)">
                   </app-dso-dynamic-table>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Class">
                <mat-card-content>
                    <app-dso-dynamic-table 
                    [resultSet]="unspscClassData | async"
                    [config]="unsPscClassConfig | async"
                    [title]="'Class'"
                    [enableFilter]="'true'"
                    (postData)="submitUnspscClass($event)"
                    (putData)="updateUnspscClass($event)"
                    (deleteData)="deleteUnspscClass($event)"
                    (pageChangeEvent)="classPageChanged($event)">
                   </app-dso-dynamic-table>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Commodity">
            <mat-card-content>
                <app-dso-dynamic-table 
                [resultSet]="unspscCommoditytData | async"
                [config]="unsPscCommodityConfig | async"
                [title]="'Commodity'"
                [enableFilter]="'true'"
                (postData)="submitUnspscCommodity($event)"
                (putData)="updateUnspscCommodity($event)"
                (deleteData)="deleteUnspscCommodity($event)"
                (pageChangeEvent)="commodityPageChanged($event)">
               </app-dso-dynamic-table>
        </mat-card-content>
    </mat-tab>
        </mat-tab-group>
        </mat-tab>
        </mat-tab-group>

</mat-card>
