<!-- <mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <a href="">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <mat-spinner *ngIf="showPublishToCloudSpinner" diameter="20" style="margin: 5px 0px 0px 15px"></mat-spinner>
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Item Class Config</ng-template>
         <div class="table-title">
           <div class="table-content"> 
          <mat-label><b>Download Segment</b><a style="margin-left: 15px;" href="assets/Sample Template File for UDA Mappings.xlsx" download> File</a></mat-label>
        </div> 
         <div class="table-content">
          <button mat-raised-button [disabled]='itemConfirmUpload' (click)="itemClassConfirmUpload()">Confirm Upload</button>
          <button mat-raised-button [disabled]='isItemConfigNext' matStepperNext> Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>UDA Configuration</ng-template>
         <div class="table-title"> 
          <div class="table-content">
            <mat-label><b>Download UDA Config</b><a style="margin-left: 15px;" href="assets/Sample Template File for UDA Mappings.xlsx" download> File</a></mat-label>
        </div>
        <div class="table-content">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button [disabled]='udaConfigConfirmUpload'(click)="udaConfigConfirm()">Confirm Upload</button>
          <button mat-raised-button [disabled]='isUdaConfigNext'   matStepperNext> Next</button>
        </div>
         </div>
    </form>
  </mat-step>
  <mat-step  [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
    <ng-template matStepLabel>Purchasing Catalog & Categories</ng-template>
       <div class="table-title"> 
        <div class="table-content">
          <mat-label><b>Publish Configuration to Cloud</b><a style="margin-left: 15px;" href="assets/Sample Template File for UDA Mappings.xlsx" download> File</a></mat-label>
      </div>
       <div class="table-content">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button (click)= "publishToCloud()">Publish to Cloud</button>
          <button mat-raised-button (click)="closeSpets()">Close</button>
      </div>
    </div>
  </form>
  </mat-step>
</mat-horizontal-stepper> -->