  <div class="form-region" *ngIf="enableFilter">
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <!-- <button mat-raised-button (click)="applyFilter()">Search</button> -->
   </div>
  <table *ngIf="resultSet && config" mat-table class="full-width-table" [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef ></th>
       <td mat-cell *matCellDef="let row">
           <mat-checkbox (click)="$event.stopPropagation()"
                         (change)="$event ? selection.toggle(row) : null"
                         [checked]="selection.isSelected(row)"
                         [aria-label]="checkboxLabel(row)">
           </mat-checkbox>
       </td>
   </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell class="add-record" *matHeaderCellDef >
      <a *ngIf="config['config']['extra-config']['row-add']" (click)="openAddDialog()" title="Add Row" style="font-size: 18px; padding-right: 24px;"><mat-icon>add</mat-icon></a>
      </th>
      <td mat-cell *matCellDef="let row">
        <a *ngIf="config['config']['extra-config']['row-edit']" (click)="openUpdateDialog(row)" title="Edit Row" style="font-size: 18px;"><mat-icon>edit</mat-icon></a>
        <a *ngIf="config['config']['extra-config']['row-delete']" (click)="openDeleteDialog(row)" title="Delete Row" style="font-size: 18px;"><mat-icon>delete</mat-icon></a>
      </td>
    </ng-container>


    <ng-container *ngFor="let config of config['config']['column-config']" [matColumnDef]="config['attribute']">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{config.label}}</th>
      <td mat-cell *matCellDef="let row" [attr.data-label]="config['attribute']">
        <span *ngIf ="config['type'] !== 'password'">{{row[config['attribute']]}}</span>
        <span *ngIf ="config['type'] === 'password'" style="font-size: 40px;">......</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
    
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">No Records Found</td>
    </tr>
  </table>

  <mat-paginator #paginator
      *ngIf="dataSource.filteredData.length > 0" 
      [length]="dataSource.filteredData.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 50]">
  </mat-paginator>

