.dialog-content {
    display: grid;
    grid-template-columns: minmax(200px, 300px);
}

.mat-button {
    color: #112d4e;
}

.mat-raised-button {
    background-color:#112d4e;
    color: #f9f7f7;
  }

  .mat-dialog-actions {
      justify-content: flex-end;
      margin-right: 5px;
  }

  ::ng-deep .mat-focused .mat-form-field-required-marker {
      color: red;
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: #112d4e;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #112d4e;
}


::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-trigger {
    color: #112d4e;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #112d4e; 
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #112d4e;
}