<div class="result-set-region">
    <mat-card>
        <mat-card-content>
            <!-- <h2>UDA Setup</h2> -->
           <app-dso-dynamic-table
            [resultSet]="resultSet | async"
            [config]="config | async"
            [title]="'UDA Mapping'"
            [enableFilter]="'true'"
            (postData)="submitUdaConvDetails($event)"
            (putData)="updateUdaConvDetails($event)"
            (deleteData)="deleteUdaConvDetails($event)"
            (uploadData)="uploadUdaConvDetails($event)">
            </app-dso-dynamic-table>
        </mat-card-content>
    </mat-card>
    
</div>
