.form-region {
    display:flex;
    align-items: center;
    margin: 30px;
}

.form-region button {
    margin:10px!important;
}

.mat-form-field {
    margin-right: 20px;
}

button, .mat-raised-button {
    background-color:#112d4e;
    color: #f9f7f7;
    border: 1px solid #979797;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0 rgba(183, 183, 183, 0.5);
    margin: 20px!important;
}

.table-title {
    display: flex;
    align-items: flex-start;
}

.table-title button {
    margin: 10px 0px 30px!important;
}

.result-set-region {
    margin:20px;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: #112d4e;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #112d4e;
}


::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-trigger {
    color: #112d4e;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #112d4e; 
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #112d4e;
}

.cloud-setup-dropdown{
margin-left:18px;
}
.fbdi-margin{
    margin: 10px 0px 0px 0px
}

.files-scroll{
    width: 95%;
    height: 250px;
    overflow: auto;
    margin: 10px 0px 0px 0px;
    border: 1px solid #ccc;
    padding: 5px 15px;
    border-radius: 5px;
}

::ng-deep .mat-list-single-selected-option, .mat-list-single-selected-option:hover, .mat-list-single-selected-option:focus {
    color: white!important;
    background-color: #112e4f;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 1px;
  }

  ::-webkit-scrollbar-thumb {
    background: #112e4f; 
    border-radius: 1px;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #112e6e; 
  }

