 .content-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.category {
    height: 20px;
}

.subcategory {
    height: 50px;
}

.action-region {
    display: flex;
    margin: 10px;
    width: 50px;
    justify-content: space-between;
}